[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/win-interactive-alexurasov
[access "refs/for/refs/*"]
	read = group user/win-interactive-alexurasov
	push = group user/win-interactive-alexurasov
	label-Code-Review = -2..+2 group user/win-interactive-alexurasov
	label-Verified = -1..+1 group user/win-interactive-alexurasov
	rebase = group user/win-interactive-alexurasov
	removeReviewer = group user/win-interactive-alexurasov
	submit = group user/win-interactive-alexurasov
[access "refs/heads/*"]
	read = group user/win-interactive-alexurasov
	create = group user/win-interactive-alexurasov
	push = +force group user/win-interactive-alexurasov
	pushMerge = group user/win-interactive-alexurasov
[access "refs/tags/*"]
	push = +force group user/win-interactive-alexurasov
	pushTag = group user/win-interactive-alexurasov
	pushSignedTag = group user/win-interactive-alexurasov
